<!--<button (click)="selectCard(cardId)" *ngIf="cardId != null" class="btn btn-sm btn-success btn-xl"> * {{ getCardName(cardId) }} {{human}}</button>-->

<!--<button (click)="selectCard(cardId)"  [ngClass]="{'btn btn-sm btn-success btn-xl':!human, 'btn btn-sm btn-default btn-xl flash-button':human}" >-->
  <!--* {{ getCardName(cardId) }} {{human === true}}</button>-->

<!--<button *ngIf="cardId === null" ngClass="btn btn-sm btn-default btn-xl flash-button"> Your turn ... {{human}} </button>-->

<button *ngIf="!human" (click)="selectCard(cardId)" ngClass="btn btn-sm btn-success btn-xl"> {{ getCardName(cardId) }} </button>
<button *ngIf="human"  ngClass="btn btn-sm btn-default btn-xl flash-button"> {{ getCardName(cardId) }} </button>

<router-outlet></router-outlet>
