<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="ok">OK</a></li>
        <li routerLinkActive="active"><a routerLink="play">Play</a></li>
      </ul>
    </div>
  </div>
</nav>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
